.shop {
  width: 100%;
  font-family: var(--ff-primary);
  margin: 5rem auto 3rem;

  width: 90%;
  height: fit-content;
  display: flex;
  margin-bottom: 5rem;

  align-items: center;
  flex-direction: column;
  row-gap: 3rem;
}
.shopSign {
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
  padding: 2rem;
  border-radius: 25px;
  background: rgb(242, 209, 209);
  background: linear-gradient(
    90deg,
    rgba(242, 209, 209, 1) 6%,
    rgba(198, 220, 228, 1) 41%,
    rgba(218, 234, 241, 1) 90%
  );
  width: 80%;
  height: 8rem;
  padding-inline: 2rem;
  margin-inline: auto;
}

.shopContent {
  width: 80%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
}

.shopCategories {
  background: rgb(242, 209, 209);
  background: linear-gradient(
    180deg,
    rgba(242, 209, 209, 1) 6%,
    rgba(198, 220, 228, 1) 41%,
    rgba(218, 234, 241, 1) 90%
  );
  width: 20%;
  border-radius: 25px;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopCategories button {
  font-weight: var(--fw-semibold);
  font-size: var(--fs-200);
  height: 60px;
  width: 100%;
  border: none;
  background-color: transparent;
  transition: ease-out 1s;
}
.shopCategories button:hover {
  transition: ease-out 0.5s;
  background-color: rgba(0, 0, 0, 0.15);
}
.shopCategories h1 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-300);
  margin-bottom: 3rem;
}
.shopCategories .active {
  transition: ease-out 0.3s;
  background-color: rgba(0, 0, 0, 0.15);
}
.Shop-container {
  padding: 1rem;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  column-gap: 1rem;
  row-gap: 1rem;
  align-items: center;
}
.products {
  border-radius: 25px;
  background-color: var(--clr-primary-600);
  width: 300px;
  height: 400px;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products img {
  object-fit: contain;
  width: 100%;
  height: 80%;
}

.products h1 {
  font-weight: var(--fw-bold);

  text-align: center;
}
.Add-toCartBtn {
  border-style: none;
  color: black;
  background-color: var(--clr-primary-600);
  border: 3px solid var(--clr-primary-500);
  border-radius: 25px;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-100);
  padding: 8px 45px;
  align-items: center;

  text-decoration: none;
  margin-top: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
}
.Add-toCartBtn:hover {
  background-color: var(--clr-primary-500);
}
@media screen and (max-width: 1070px) {
  .shopContent {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .shopCategories {
    width: 100%;
  }
  .shop {
    height: fit-content;
  }
}

@media screen and (max-width: 650px) {
  .Shop-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .shop {
    height: fit-content;
  }
}
