.sideBar {
  cursor: pointer;
  transition: 0.5s;
}

@media screen and (min-width: 1090px) {
  .sideBar {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .sideBar {
    position: relative;
    left: 2rem;
    transition: 0.5s;
  }
}
