body {
  min-width: fit-content;
  background-color: var(--clr-primary-500);
}

.ShopBtn {
  display: flex;

  color: black;
  background-color: var(--clr-primary-600);
  border: 3px solid var(--clr-primary-500);
  border-radius: 25px;
  font-weight: var(--fw-DoubleExtrabold);
  padding: 8px 45px;
  font-family: var(--ff-primary);
  text-decoration: none;
  margin: 0 0 0 4rem;
  position: fixed;

  transition-duration: 0.4s;
  cursor: pointer;
}
@media screen and (max-width: 1150px) {
  .ShopBtn {
    bottom: 2rem;
  }
}
@media screen and (max-width: 800px) {
  .ShopBtn {
    display: none;
  }
}
