.nav {
  display: flex;
  padding: 80px 15%;
  font-family: var(--ff-primary);
  justify-content: space-between;
  align-items: center;
}
.ulFlex {
  display: flex;
  font-weight: var(--fw-bold);
  font-size: var(--fs-100);
  justify-content: space-between;
}

.li {
  padding: 5px;
  list-style: none;
  cursor: pointer;
  transition: ease 0.5s;
  margin-right: 2rem;
}
.li:hover {
  background-color: var(--clr-primary-600);
  border-radius: 25px;

  transition: ease 0.3s;
}

.rightButtons {
  font-weight: var(--fw-bold);
  font-size: var(--fs-100);
  display: flex;
  align-items: center;

  justify-content: space-between;
}
.shoppingCart {
  padding: 5px;
  transition: ease 0.3s;

  margin-right: 1rem;
  cursor: pointer;
}
.shoppingCart:hover {
  background-color: var(--clr-primary-600);
  border-radius: 25px;

  transition: ease 0.3s;
}

.button {
  border-style: none;
  color: black;
  background-color: var(--clr-primary-600); /* Green */
  border: none;
  border-radius: 25px;
  font-weight: var(--fw-DoubleExtrabold);
  padding: 8px 45px;

  text-decoration: none;

  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
  background-color: white;
}

.logo {
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .ulFlex {
    display: none;
  }
  .rightButtons {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    position: relative;
    right: 2rem;
  }
}
