.nav {
  display: flex;

  font-family: var(--ff-primary);
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 15%;
}
.navSide {
  display: none;
}

.ulFlex {
  display: flex;
  font-weight: var(--fw-bold);
  font-size: var(--fs-100);
  justify-content: space-between;
}
.logoRES {
  position: relative;
  right: 2rem;
  width: 80px;
  cursor: pointer;
}
@media screen and (min-width: 1210px) {
  .logoRES {
    display: none;
  }
}

.li {
  padding: 5px;
  list-style: none;
  cursor: pointer;
  transition: ease 0.5s;
  margin-right: 2rem;
  padding: 0.5rem;
}
.li:hover {
  background-color: var(--clr-primary-600);
  border-radius: 25px;
  transition: ease 0.3s;
}

.rightButtons {
  font-weight: var(--fw-bold);
  font-size: var(--fs-100);
  display: flex;
  align-items: center;

  justify-content: space-between;
}
.sticky {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0;
  z-index: 100;
}
.shoppingCart {
  padding: 5px;
  transition: ease 0.3s;
  z-index: 497;
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 25px;
  background-color: var(--clr-primary-600);
  transition: all 0.3s ease-out;
}

.shoppingCart:hover {
  background-color: var(--clr-primary-600);
  border-radius: 25px;

  transition: all ease 0.3s;
}
.shoppingCartfixed {
  padding: 5px;
  transition: ease 0.3s;
  z-index: 497;
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 25px;
  background-color: var(--clr-secondary-400);
  top: 4%;
  right: 47.5%;
  position: fixed;
  transition: all 0.3s ease-out;
  border: 2px solid var(--clr-primary-600);
  -webkit-box-shadow: -11px 14px 15px -8px rgba(0, 0, 0, 0.62);
  box-shadow: -5px 14px 15px -8px rgba(0, 0, 0, 0.62);
}
@media screen and (max-width: 900px) {
  .shoppingCartfixed {
    right: 45%;
  }
}
@media screen and (max-width: 500px) {
  .shoppingCartfixed {
    right: 42%;
  }
}
.shoppingCartfixed:hover {
  background-color: var(--clr-primary-600);
  border-radius: 25px;

  transition: ease 0.3s;
}
.button {
  border-style: none;
  color: black;
  background-color: var(--clr-primary-500);
  border: 3px solid var(--clr-primary-600);
  border-radius: 25px;
  font-weight: var(--fw-DoubleExtrabold);
  padding: 8px 45px;

  text-decoration: none;

  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
  background-color: var(--clr-primary-600);
}

.logo {
  width: 80px;
  cursor: pointer;
}

@media screen and (min-width: 1210px) {
  .showCart {
    display: none;
  }
}

@media screen and (max-width: 1210px) {
  .button {
    background-color: var(--clr-primary-600);
    border: 3px solid var(--clr-primary-500);
    background-color: var(--clr-primary-600);
  }
  .button:hover {
    background-color: var(--clr-primary-500);
  }
  .li:hover {
    background-color: var(--clr-primary-500);
    padding: 0.5rem;
  }
  .nav {
    display: none;
  }
  .rightButtons {
    flex-direction: column;
  }
  .ulFlex {
    position: relative;
    row-gap: 1rem;
    left: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .navSide {
    display: flex;

    flex-direction: column;
    font-family: var(--ff-primary);
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .sideDrawerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 6rem;
  }
}
@media screen and (max-width: 600px) {
  .sideDrawerHeader {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 3rem;
  }
}
@media screen and (max-width: 400px) {
  .navContainer {
    padding-top: 2rem;
  }
}
